body{
	margin:0em auto;
	max-width:40em;
	padding-top: 0.15em;
  padding-left: 0.5em;
  padding-right: 0.5em;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 1em;
}
@media print{
	body{
		max-width:none
	}
}

h1 {
  font-size: 1.75em;
}

h2 {
  font-size: 1.5em;
}

p {
	font-size: 1em;
}

a {
  text-decoration: none;
	color: #686de0;
}

a:hover {
  text-decoration: underline;
}

li {
	font-size: 0.8em;
}
